.text {
  font-size: 1.4rem;
  text-align: left;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0.3rem;
}

.input {
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  padding-right: 4rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
